@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(180, 129, 233) */
}

/* Header/Navbar */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    /* position: absolute; */
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
  margin:0 25px;
  font-weight: 600;
}

@media screen and (max-width:900px){
    .navbar{
        padding: 10px;
        width: 100%;
    }
    .navbar .logo{
        font-size: 2.2em;
        font-weight: bold;
    }
    .navbar .nav-links ul li{
        /* margin:0 25px; */
        font-size: 1.3em;
      }
}

/* Content area */
hr{
    width: 95%;
    position: relative;
    left: 20px;
    margin-top: 20px;
}
.news-box{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 20px;
   padding: 20px;
   margin-left: 20px;
}
.common{
    display: flex;
    justify-content: center;
    padding: 35px;
    align-items: center;
    
}

/* Footer */



.btn-prev{
    float: left;
}

.btn-next{
    float: right;
}

/* .btn{
    width: 50px;
    height: 30px;
    margin: 35px;
    border-radius: 35px;
} */
/* 
<!-- HTML !-->
<button class="button-90" role="button">Button 90</button> */

/* CSS */
.btn {
  color: #fff;
  padding: 7px 12px;
  border-radius: 42px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    margin: 35px;
  cursor: pointer;
}

.btn-other{
    position: relative;
    left: 40px;
    top: -68px;
    width: 150px;
}

/* News Box */

#imageToUrl{
    width: 340px;
    height: 180px;
    /* position: absolute; */
}

#author{
    font-size: 20px;
    position: absolute;
    top: 229px;
    left: 90px;
}
#description{
    font-size: 20px;
    position: absolute;
    top: 249px;
    left: 90px;
}



/* News Card */
.snip1360 {
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
    background-color: #ffffff;
    margin-left: 70px;
  }
  .snip1360 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .snip1360 img {
    max-width: 100%;
    vertical-align: top;
  }
  .snip1360 figcaption {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 25px 55px;
    position: relative;
  }
  .snip1360 figcaption:before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
  }
  .snip1360 figcaption a {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #cccccc;
    color: #000000;
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.65;
    width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .snip1360 figcaption a:hover {
    opacity: 1;
  }
  .snip1360 h2 {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
  }
  .snip1360 p {
    margin: 0 0 10px;
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }

  .snipheight{
    height: 500px;
  }
  